



:root {
  --bar-bg: #444;
  --bar-fg: #FFF;
  --top-bar-height: 32px;
  --bottom-bar-height: 32px;
  --font-size: 14px;
  --mid-padding: 0px;

  --play-tools-bar-height: 38px;

  --assets-tools-bar-height: 38px;

  --tab-bg: #555;
  --tab-fg: #ccc;
  --tab-hover-bg: #333;
  --tab-hover-fg: #CCC;

  --tab-chosen-bg: #ddd;
  --tab-chosen-fg: #222;
  --tab-chosen-hover-bg: #CCC;
  --tab-chosen-hover-fg: #222;

}

* {
  box-sizing: border-box;
}

.CodeMirror {
  height: calc(100vh - var(--top-bar-height) - var(--bottom-bar-height)
    - var(--mid-padding) - var(--mid-padding) ) !important;
}


body {
  margin: 0px;
  padding: 0px;
  font-size: var(--font-size);
  font-family: sans-serif;
}

.app {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: var(--top-bar-height)
    auto var(--bottom-bar-height);
  grid-template-areas: 
    "top tab-bar"
    "code play"
    "bottom bottom";
  width: 100vw;
  height: 100vh;
}


.top {
  grid-area: top;
}

.code {
  grid-area: code;
  background: #CCC;
}

.play {
  grid-area: play;
  background: #777;
  border-left: 1px solid #CCC;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--top-bar-height) - var(--bottom-bar-height)
    - var(--mid-padding) - var(--mid-padding) ) !important;
}

#run-results {
  width: 100%;
  height: calc(100vh - var(--top-bar-height) - var(--bottom-bar-height)
    - var(--mid-padding) - var(--mid-padding) ) !important;
    border: none;
  background: #FFF;
  color: #222;
  display: none;  
}


#tab-content-help {
  background: #FFF;
  color: #333;
  padding: 24px;
  overflow: auto;

}


.bottom {
  grid-area: bottom;
}

.bar {
  background: var(--bar-bg);
  color: var(--bar-fg);
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}

.mids {
  padding: var(--mid-padding);
}

.bar-button {
  margin-right: 12px;
  background: #777;
  color: #FFF;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  padding: 4px;
  padding-right: 6px;
  padding-left: 6px;
  font-size: var(--font-size);
}

.bar-button:hover {
  background: #fff;
  color: #444;
}

.tab-bar {
  display: flex;
  align-items: center;
  background: var(--bar-bg);
  color: var(--bar-fg);
}

.tab {
  margin-left: 12px;
  background: var(--tab-bg);
  color: var(--tab-fg);
  cursor: pointer;
  padding: 6px;
  font-size: var(--font-size);
  margin-top: 4px;
  border-radius: 4px 4px 0px 0px;
  user-select: none;
}

.tab-chosen {
  background: var(--tab-chosen-bg) !important;
  color: var(--tab-chosen-fg) !important;
  cursor: default;
}

.tab:hover {
  background: var(--tab-hover-bg);
  color: var(--tab-hover-fg);
}

.tab-chosen:hover {
  background: var(--tab-chosen-hover-bg) !important;
  color: var(--tab-chosen-hover-fg) !important;
}


pre {
  border: 1px solid #555;
  padding: 6px;
  overflow: auto;
}

#play-tools-bar {
  padding: 4px;
  background: #555;
  border-top: 1px solid #777;
  border-bottom: 1px solid #999;
  border-right: 0px;
  border-left: 0px;
  height: var(--play-tools-bar-height);
  overflow: hidden;
}

#play-iframe {
  width: 100%;
  height: calc(100vh - var(--top-bar-height) - var(--bottom-bar-height)
    - var(--mid-padding) - var(--mid-padding) - var(--play-tools-bar-height) ) !important;
  border: 0px;
}


.play-tools-button {
  border: 1px solid #999;
}


#tab-content-debug {
  background: #FFF;
  color: #222;
  padding: 12px;
  overflow: auto;
}


#tab-content-assets {
  background: #fff;
  border-top: 1px solid #777;
  border-bottom: 1px solid #999;
  border-right: 0px;
  border-left: 0px;
  overflow: auto;
  height: calc(100vh - var(--assets-tools-bar-height)
    - var(--mid-padding) - var(--mid-padding) - var(--top-bar-height) ) !important;
}



#tab-content-plugins {
  background: white;
  color: #222;
  height: calc(100vh - var(--assets-tools-bar-height)
    - var(--mid-padding) - var(--mid-padding) - var(--top-bar-height) ) !important;
  padding: 12px;
  overflow: auto;
}



#tab-content-assets-button-holder {
  background: #CCC;
  padding: 6px;
}

#tab-content-assets-main {
  padding: 12px;

}

.asset-entry {
  padding-bottom: 12px;
  border: 0px solid #CCC;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.asset-type-text {
  font-size: 10px;
}

.asset-preview-image {
  width: 40px;
  height: 40px;
}

.asset-namor {
  max-width:200px;
  margin-right: 4px;
}

.asset-deletor {
  margin-right: 4px;
}

.asset-type-text {
  margin-right: 4px;
}

.asset-size-text {
  font-size: 10px;
  margin-left: 8px;
}

button {
  margin-right: 12px;
  background: #777;
  color: #FFF;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  padding: 4px;
  padding-right: 6px;
  padding-left: 6px;
  font-size: var(--font-size);
}

button:hover {
  background: #DDD;
  color: #333;
}

input {
  border-radius: 4px;
  border: 1px solid #888;
}

h2, h3 {
  background: #444;
  color: white;
  padding: 12px;
  margin-top: 48px;
}

.plugin-view-entry {
  border-bottom: 1px solid #CCC;
  line-height: 16px;
}

.plugin-logo {
  width: 32px;
  height: 32px;
  filter: invert(42%) sepia(41%) saturate(2896%) hue-rotate(164deg) brightness(99%) contrast(103%);
  border: 1px solid #CCC;
  border-radius: 50%;
  margin-right: 24px;
}

.plugin-logo-letter {
  border: 1px solid #0BB7FF;
  border-radius: 4px;
  margin-right: 32px;
  background: rgba(0,0,0,0);
  color: #0BB7FF;
  padding: 6px;
  text-align: center;
  user-select: none;
  font-weight: bold;
}

.plugin-long-view {
  font-size: 12px;
  color: #333;
}

.plugin-documentation-box {
  font-size: 14px;
  color: #000;
  border-left: 2px solid #aaa;
  padding-left: 12px;
  margin-top: 24px;
  margin-bottom: 24px;  
}


.plugin-code-view {
  width: 100%;
  height: 200px;
  resize: none;
  overflow: scroll;
}

.plugin-short-info {
  border: 0px solid #22556f;
  border-left: 0px;
  border-right: 0px;
  padding-left: 0px;
  padding-right: 20px;
}

.plugin-version-info {
  font-size: 11px;
}


#tab-content-meta {
  background: #FFF;
  color: #222;
  padding: 10px;
  overflow: auto;
  height: calc(100vh - var(--assets-tools-bar-height)
    - var(--mid-padding) - var(--mid-padding) - var(--top-bar-height) ) !important;
}

.story-meta-item {
  margin-bottom: 12px;
}

.story-meta-info-text {
  font-size: 10px;
}